*{
    margin: 0;
    padding: 0;
    min-width: auto;
    min-height: auto;
    font-family: 'Inria Sans', sans-serif;
}

body{
    background: #000;
}

a{
    text-decoration: none;
}

input{
    outline: none;
}

/*Configuração do rodapé*/
.rodape{
    width: 100%;
    height: 4em;
}

.rodape #direitos{
    display: block;
    margin: auto;
    font-size: 0.7em;
    color: #fff;
}

.span_required{
    display: none;
}

.erro {
    color: red;
    font-size: 12px;
    display: none;
    margin-top: 5px;
}

.erro-input {
    border: 2px solid red;
}

.modal {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: none;
    padding: 20px;
    z-index: 1000;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.modal-content p {
    color: #5271ff;
    font-weight: bold;
}

#progressContainer {
    width: 100%;
    background-color: #f3f3f3;
    height: 5px; /* Barrinha pequena */
    margin-top: 10px;
    border-radius: 3px;
    overflow: hidden;
}

#progressBar {
    width: 0;
    height: 100%;
    background-color: #5271ff;
    transition: width 0.1s ease; /* Transição suave */
}

#progressBar_computador_atualizado {
    width: 0;
    height: 5px;
    background-color: #4caf50; /* Cor da barrinha de progresso */
    transition: width 0.1s ease-in-out; /* Suaviza a transição */
}

/* Estilo para o container da senha e o ícone de olho */
.input-container {
    position: relative;
    width: 25.7em; /* Mantém a largura do input */
}

.input-container input {
    width: 100%; /* Preenche todo o espaço do container */
}

.toggle-eye {
    position: absolute;
    right: 0.5em;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
}

.toggle-eye i {
    font-size: 1em; /* Tamanho do ícone */
}

.barra_lateral{
    width: 11em;
    height: 29em;
    border: none;
}

.container_conteudo{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.cadastro_conteudo #logo_dhs{
    display: block;
    margin: auto;
    margin-top: -2em;
    width: 20em;
    height: 20em;   
}

#logo_dhs{
    display: block;
    margin: auto;
    margin-top: -2em;
    width: 20em;
    height: 20em;   
}

.container_cadastro_conteudo{
    padding-bottom: 5em;
    display: block;
    margin: auto;
    width: 30em;
    height: 34  em;
    background: #fff;
    border: 3px solid #5271ff;
    margin-top: -6em;
    border-radius: 40px;
}

.btns{
    width: 11em;
    height: 26em;
}

#btn_computadores{
    width: 12em;
    height: 3.5em;
    border-radius: 20px;
    background: #5271ff;
    border: none;
    color: #fff;
    font-size: 0.9em;
    cursor: pointer;
    font-size: 15px;
}

#btn_computadores.active {
    width: 12em;
    height: 3.5em;
    border-radius: 20px;
    background: #0c248d;
    border: none;
    color: #fff;
    font-size: 0.9em;
    cursor: pointer;
    font-size: 15px;
}

#btn_logout{
    width: 12em;
    height: 3.5em;
    border-radius: 20px;
    background: red;
    border: none;
    color: #fff;
    font-size: 0.9em;
    cursor: pointer;
    font-size: 15px;
}

#btn_computadores, #btn_logout {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Espaço entre o ícone e o texto */
}

#btn_computadores i, #btn_logout i {
    font-size: 1.2em; /* Tamanho do ícone */
}

.entradas {
    margin-left: 0.66em;   
    padding: 1.5em;
    margin-bottom: -2.5em;
}

.entradas h4{
    font-weight: bold;
    font-size: 1.1em;
}

.entradas input{
    margin-top: 0.5em;
    width: 30.2em;
    height: 3em;
    border-radius: 10px;
    border: 0.15em solid #545454;
    padding-left: 0.5em;
}

.entradas textarea{
    margin-top: 0.5em;
    width: 30.2em;
    height: 6em;
    border-radius: 10px;
    border: 0.15em solid #545454;
    padding-left: 0.5em;
}

.entradas select{
    margin-top: 0.5em;
    width: 31.2em;
    height: 3em;
    border-radius: 10px;
    border: 0.15em solid #545454;
    padding-left: 0.5em;
}

.voltar #botao_voltar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Espaço entre o ícone e o texto */
    margin-top: 2em;
    margin-left: 2em;
    width: 6em;
    height: 3em;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: #545454;
    color: #fff;
}

.voltar #botao_voltar i {
    font-size: 1.2em; /* Tamanho do ícone */
}

.botao_cadastro{
    margin-left: 0.66em;   
    padding: 1.5em;
    margin-bottom: -2.5em;
}

/*Tela de cadastro*/
.cabecalho{
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.cabecalho #logo_dhs2{
    display: block;
    width: 6em;
    height: 6em;   
}

.cabecalho #titulo{
    color: white;
    margin-bottom: 4px;
}

.container_computadores{
    width: 53em;
    height: 29em;
    background: #fff;
    border: 3px solid #5271ff;
    border-radius: 40px;
    background: #fff;
    overflow: hidden;
    max-height: 29em;
    overflow-y: auto;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para o container */
.computadores-container {
    max-height: 29em; /* Altura máxima para a área de rolagem */
    overflow-y: auto; /* Ativa a rolagem vertical */
    background-color: white;
}

.titulo_formulario{
    padding: 0.5em;
    text-align: center;
    justify-content: center;
    align-items: center;
}

